<div class="topnav">
    <div>ZONIONS</div>
    <div class="toplinks">
        <a [routerLink]="['/login']">Home</a>
        <a [routerLink]="['/restaurants']">Restaurants</a>
        <a href="">Contact Us</a>
        <a [routerLink]="['/add']">Register With Us</a>
        <a href="">Blogs</a>
        <a [routerLink]="['/login']">Login</a>
    </div>
    <div class="clear"></div>
</div>
<!-- <li class="nav-item">
    <a routerLink="add" class="nav-link" routerLinkActive="active">Add Restaurant</a>
</li> -->